<nav class="navbar navbar-expand-lg navbar-dark bg-info">
  <a class="navbar-brand" href="/">
    <img src="../../img/favicon.png" width="40" height="40 ">
    OnlyShop
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link text-uppercase" href="/" name="home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-uppercase" href="/chat" name="chat">Chat</a>
      </li>
    </ul>

    <form class="form-inline">
      <div class="btn-group dropleft float-left">
        {{#if user.login}}
        <button type="button" class="btn  dropdown-toggle text-uppercase text-white" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{user.userName}}
        </button>
        {{else}}
        <button type="button" class="btn  dropdown-toggle text-uppercase text-white" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Cuenta
        </button>
        {{/if}}
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {{#if user.login}}
          <a class="dropdown-item" href="/carts/{{user.cartId}}">Mi Carrito</a>
          <a class="dropdown-item" href="/carts/{{user.cartId}}/purchase">Finalizar compra</a>
          <a class="dropdown-item" href="/users/account">Editar cuenta</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/users/logout">Cerrar sesión</a>
          {{else}}
          <a class="dropdown-item" href="/">Inciar Sesión</a>
          <a class="dropdown-item" href="/users/createAccount">Crear cuenta</a>
          {{/if}}
        </div>
      </div>
    </form>

  </div>

</nav>